.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #00d0ff;
    font-size: 26px;
    font-family: Orbitron;
    letter-spacing:6px;
}
@media only screen and (max-width: 585px){
    .clock{
        font-size: 0px;
    }
}

thead tr th{
    text-transform: capitalize;
    overflow: hidden;
}
th,tr,td{
    overflow: hidden;
    text-align: center;
    border: 1px solid rgba(14, 0, 0, 0.274);
}

td{
    padding: 3px;
}
td:hover, .no:hover{
    background-color:rgba(0, 110, 255, 0.616);
    color:white;
    
}
.opt:hover{
    background-color:white;
}